/* Collapsebar.scss */

.collapsebar {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  @media (max-width: 321px) {
    transform: translateY(-30px);
  }

  &__content {
    width: 100%;
    margin-bottom: 28px;
    border-radius: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    max-width: 1333px;
    width: 100%;
    max-height: auto;
    overflow: hidden;
    background-color: rgba(128, 128, 128, 0.048);
    animation: slideDown 2s ease-in-out forwards; // Ajout de l'animation au composant parent

    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: white;
      background-color: #ff6060;
      border-radius: 5px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); // Ajout de l'ombre
    }

    &--text {
      display: flex;
      flex-direction: column;
      color: white;
    }

    &--desc {
      overflow: hidden;
      animation: slideDown 2s ease-in-out forwards; // Ajout de l'animation au composant parent

      &.expanded {
        padding-left: 10px;
        font-family: Montserrat;
        flex-grow: 0;
        max-width: 100%;
       
        animation: slideDown 1s ease-in-out forwards; // Utilisation de l'animation définie ci-dessus
      }
    }

    &--title {
      font-size: 1.2em;
      font-weight: bold;
      margin: 0;
      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  button {
    background-color: transparent;
    font-size: 24px;
    color: white;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    padding-right: 10px;
  }
}
.collapsebar__content--header.fiche-page {
  max-width: 800px;
  top: 0;
}
.fiche__collapse {
  align-items: center;
  display: flex;

  @media (max-width: 450px) {
    width: 60%;
  }
}
.collapsebar.ficheP-collapse {
  flex-direction: row;
  gap: 76px;
  width: 1240px;
  align-items: flex-start;
}

@keyframes slideDown {
  0% {
    transform: translateY(-30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
