.fiche__house {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  &--image {
    width: min(100%, 1240px);
    height: 415px; // Modifié
    border-radius: 25px;
    display: flex;
    margin: 0 auto;
    object-fit: cover; // Ajouté
    object-position: center; // Ajouté

    @media (max-width: 450px) {
      width: 100%; // Modifié
      height: 415px; // Modifié
    }
  }

  &--titre {
    font-family: Montserrat;
    color: #ff6060;
    font-size: 36px;
    font-weight: 500;
    line-height: 51.34px;
    text-align: left;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }

  &--localisation {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 25.67px;
    text-align: left;
    margin-top: 0;
  }

  &--tags {
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 700;
    line-height: 19.96px;
    text-align: center;
    list-style: none;
    display: flex;
    gap: 10px;
    padding-left: 0;

    li {
      background-color: #ff6060;
      color: white;
      padding: 5px 40px;
      border-radius: 20px;
      width: auto;
      height: 20px;
      top: 3px;
      left: 40px;
      white-space: nowrap;
    }
  }

  .fiche__allbasicinfos {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 0 auto;
    width: min(1240px, 80%);
    padding: 0 10%;

    @media (max-width: 800px) {
      flex-flow: column;
    }

    @media (max-width: 321px) {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
    }

    .fiche__proprio {
      flex: 1;
      width: min(200px, 80%);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin: auto;

      &--image {
        width: 64px;
        height: 64px;
        border-radius: 60px;
      }

      &--nom {
        color: #ff6060;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 50%;
        font-size: 20px;
        font-weight: 500;
        font-family: Montserrat;
        text-align: right;
        padding-right: 10px;
      }

      &--wrap {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 21px;
      }
    }

    @media (max-width: 450px) {
      &--image {
        width: 100%;
        height: auto;
      }

      .fiche__allbasicinfos {
        width: 100%;

        .fiche__proprio {
          width: 100%;

          &--image {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    @media (max-width: 450px) {
      &--image {
        width: 100%;
        height: auto;
      }

      .fiche__allbasicinfos {
        width: 100%;

        .fiche__proprio {
          &--image {
            width: 50px;
            height: 50px;
          }
        }
      }

      .fiche__infos {
        width: 100%;
        margin: 20px 0;
      }

      .fiche__infos h1 {
        margin-top: 0;
      }

      .fiche__house--tags {
        flex-wrap: wrap;
        text-wrap: wrap;
      }
    }

    @media (max-width: 800px) {
      &--titre {
        font-size: 28px;
      }

      &--localisation {
        font-size: 16px;
      }

      &--tags {
        font-size: 10px;
      }

      .fiche__house {
        width: 100%;
      }

      .fiche__proprio {
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        width: min(1240px, 100%);
      }

      .fiche__proprio--wrap {
        flex-direction: row;
      }

      .ficheP-collapse {
        flex-direction: row;
      }
    }

    @media screen and (max-width: 400px) {
      .fiche__proprio--wrap {
        flex-direction: column-reverse;
      }
    }

    .fiche__score,
    &--titre,
    &--tags {
      color: #ff6060;
    }
  }

  .fiche__score {
    font-size: 24.75px;
    width: 196px;
    height: 36px;
    top: 687px;
    left: 1144px;
    display: flex;

    @media screen and (max-width: 450px) {
      width: fit-content;
    }

    .fa-star {
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      @media screen and (max-width: 350px) {
        margin-right: 5px;
      }
    }
  }

  .fiche__house--cadre {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: min(80%, 1240px);

    @media (max-width: 321px) {
      box-sizing: border-box;
      justify-content: flex-start;
    }
  }

  .image-counter {
    position: absolute;
    bottom: 10px;
    left: 50%;
    font-size: 20px;
    transform: translateX(-50%);
    color: white;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.25);
  }

  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    color: white;
    background: transparent;
    border: none;
    transform: translateY(-50%); // Added to vertically center the buttons
  }

  .prev-button {
    left: 5%;
    font-size: 54px;
    font-family: Montserrat;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    @media (max-width: 1200px) {
      left: 5%;
    }

    @media (max-width: 992px) {
      left: 5%;
    }
  }

  .next-button {
    right: 5%;
    font-size: 54px;
    font-family: Montserrat;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);

    @media (max-width: 1200px) {
      right: 5%;
    }

    @media (max-width: 992px) {
      right: 5%;
    }
  }
}
