$black-color: black;
$burlywood-color: burlywood;



header {
  justify-content: center;
  align-items: center;
  display: flex;
}

.Header__nav {
  width: min(1240px, 80%);
  height: auto;
  margin: 45px auto 50px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &--logo {
    width: 210.32px;
    height: 68px;
  }

  ul {
    display: flex;
    list-style: none;
    gap: 47px;
    padding-left: 0;

    li {
      a {
        text-decoration: none;
        border: none;
        background: none;
        padding: 0;
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        font-family: 'Montserrat', sans-serif;

        &:active,
        &:focus {
          color: $black-color;
          outline: none;
        }

        &:link,
        &:visited {
          color: $black-color;
        }

        &:link:hover,
        &:visited:hover {
          color: $burlywood-color;
        }
      }

      &.--btn {
        text-decoration: none;
        text-wrap: nowrap;
      }
    }
  }

  @media (max-width: 1200px) {
    margin: 45px 10% 50px 10%;

    &--logo {
      width: 140px;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    ul {
      gap: 15px;
      font-size: 12px;
    }
  }

  @media (max-width: 450px) {
    ul li a {
      font-size: 12px;
    }
  }

  @media (max-width: 420px) {
    ul li.--btn {
      font-size: 12px;
    }
  }
}