$lightgray-color: #F6F6F673;
;
$black-color: black;
$white-color: white;

.House__List {
  width: min(1240px, 100%);
  gap: 0px;
  display: flex;
  justify-content: center;
  margin: 0 auto 32px;

  &--cadres {
    background-color: $lightgray-color;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-content: space-between;
    padding: 56px 50px;
    border-radius: 25px;

    @media screen and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (max-width: 800px) {
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
      background-color: transparent;
      width: 100%;
    }
  }
}

.Card {
  flex: 1 0 calc(33.33% - 60px);
  position: relative;
  width: 100%;

  &--gradient-overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(10, 10, 10, 0) 42%, rgba(4, 4, 4, 0.205) 99.99%, rgba(0, 0, 0, 0.5) 100%);
    opacity: 1;
    transition: opacity 0.3s ease;
    border-radius: 10px;
    z-index: 32;

    &:hover {
      opacity: 0;
    }
  }

  &__item {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
    position: relative;

    
  

    &--title {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgba($black-color, 0.5);
      color: $white-color;
      padding: 5px;
      padding-left: 15px;
      width: 100%;
      box-sizing: border-box;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      @media (max-width: 1200px) {
        width: 100%;
        box-sizing: border-box;
      }

      @media (max-width: 992px) {
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .House__List {
    width: 90%;
    padding: 0 5%;
  }
}

@media (max-width: 992px) {
  .House__List {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .House__List {
    width: 90%;
    display: flex;
    justify-content: center;
    padding: 0;
  }

  .Card {
    margin-right: 0;

    &__item {
      width: 100%;
      height: 300px;
      margin-right: 0;
    }
  }
}

@media (max-width: 600px) {
  .House__List {
    box-sizing: border-box;
    margin-left: 5%;
  }
}

@media (max-width: 400px) {
  .House__List {
    height: fit-content;
    margin-top: 60px;

    &--cadres {
      padding: 0;
      height: 100%;
      background-color: $white-color;
    }
  }

  .Card {
    flex: 1 0 100%;
    margin-right: 0;
    width: 100%;
    height: 100%;

    &__item {
      width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}

